<section>
    <h1>Import a json file</h1>

    <div class="small-content left-and-right">
        <h2>Step 1.</h2>
        <h2>Step 2.</h2>
        <div class="content-margin">
            <label for="file">Choose File : </label>
            <span>
                <input type="file" id="file"
                (change)="onFileChange($event)">
            </span>
        </div>
        <div  class="content-margin">
            Upload the choosen file to the server : 
            <span>
                <button (click)="saveAllInvestments()">
                    Send the data
                </button>
                <span class="loading-message">{{loadingMessage}}</span>
            </span>
        </div>
    </div>
</section>