<h1>Selected Investment details :</h1>
<li>Id : {{selectedInvestment.id}}</li>
<li>Titre de l'operation : {{selectedInvestment.titreoperation}}</li>
<li>Entreprise : {{selectedInvestment.entreprise}}</li>
<li>Annee de livraison : {{selectedInvestment.annee_de_livraison}}</li>
<li>Ville : {{selectedInvestment.ville}}</li>
<li>Mandataire : {{selectedInvestment.mandataire}}</li>
<li>Ppi : {{selectedInvestment.ppi}}</li>
<li>Nombre de lots : {{selectedInvestment.nombre_de_lots}}</li>
<li>Lycee : {{selectedInvestment.lycee}}</li>
<li>Notification_du_marche : {{selectedInvestment.notification_du_marche}}</li>
<li>Codeuai : {{selectedInvestment.codeuai}}</li>
<li>Longitude : {{selectedInvestment.longitude}}</li>
<li>Etat d'avancement : {{selectedInvestment.etat_d_avancement}}</li>
<li>Montant des ap votes en meu : {{selectedInvestment.montant_des_ap_votes_en_meu}}</li>
<li>Cao attribution : {{selectedInvestment.cao_attribution}}</li>
<li>Latitude : {{selectedInvestment.latitude}}</li>
<li>Maitrise d'oeuvre : {{selectedInvestment.maitrise_d_oeuvre}}</li>
<li>Mode de devolution : {{selectedInvestment.mode_de_devolution}}</li>
<li>Annee d'individualisation : {{selectedInvestment.annee_d_individualisation}}</li>
<li>Enveloppe prev en meu : {{selectedInvestment.enveloppe_prev_en_meu}}</li>
